eel
pystray
Pillow
requests
# pyinstaller --onedir --contents-directory . --name Auto_Connect --add-data "gui;gui"  --add-data "chromium;chromium" --add-data "post;post" --add-data "LICENSE;." --noconsole --version-file file_version_info.txt -i favicon.ico auto_connect.py
